name: Publish FCG.Shared NuGet

on:
    push:
        branches: ["main"]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write # Importante para publicar

        steps:
            - uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "9.0.x"
                  # Configura a fonte para o GitHub Packages
                  source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
              env:
                  NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Pack
              run: dotnet pack FCG.Shared.csproj --configuration Release -o out
            - name: Push to GitHub Packages
              run: dotnet nuget push out/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --skip-duplicate
